$header-height: 60px;
$base-background-2: #282c34;

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    color: #00aabb;
  }
}

.svg-inline--fa.fa-w-14,
.svg-inline--fa.fa-w-11 {
  width: inherit;
}
