.App {
  background-color: white;
  font-size: 1em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
